/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color:#FFFEF8;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#categories-menu {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
  }
  
#categories-menu button {
	background-color: transparent;
	border: 2px solid #1D6154;
	color: #1D6154;
	border-radius: 20px;
	padding: 10px 20px;
	margin: 0 10px;
	cursor: pointer;
	font-family: 'Syne';
	font-weight: 700;
  }
  
#categories-menu button.active,
#categories-menu button:hover {
	background-color: #1D6154;
	color: white;
  }

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.portfolio-header {
	display: flex;
	justify-content: center;
 
    align-items: center;
}

/* Page de connexion */

nav ul li a {
    text-decoration: none;
	color: inherit;
}

nav ul li a:active {
    font-weight: bold;
}


nav li img {
	width: 50%;
}

#login {
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

#login h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
    margin-bottom: 20px;
}

#login form {
    display: flex;
    flex-direction: column;
    align-items: center;
	text-align: left; 
}

#login label {
    margin: 2em 0 0.5em 0;
	display: flex;
	width: 70%
}

#login input[type="email"],
#login input[type="password"] {
    width: 70%;
    height: 50px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
    padding: 0 10px;
}

#login input[type="submit"] {
    font-family: 'Syne';
    font-weight: 700;
    color: white;
    background-color: #1D6154;
    margin: 2em auto;
    width: 180px;
    text-align: center;
    border-radius: 50px;
    border: none;
    padding: 15px;
    cursor: pointer;
}

#login button {
    background: none;
    border: none;
    color:black;
    font-size: 1em;
    cursor: pointer;
}

#login button:hover {
    text-decoration: underline;
}

footer nav ul {
    display: flex;
    justify-content: flex-end;
    margin: 2em;
}

#edit-mode-bar {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 1em;
}

.hidden {
    display: none !important;
}
#edit-mode-bar i {
    color: white; 
	padding-right: 5px;
}
#edit-mode-bar p {
    font-size: 14px;
    display: inline;
    margin-left: 5px;
    font-weight: normal;
}
.edit-button {
	background-color: white;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-family: 'Syne', sans-serif;
    font-size: 11px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 10px;
}

.edit-button i {
    margin-right: 5px;
}


/* Style pour la fenêtre modale */


.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 630px;
    height: 688px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.modal-content h2 {
	margin-top: 30px;
    text-align: center;
    color: black;
	font-family: 'Work Sans';
    font-weight: 100;
}

.modal-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px auto 0;
    width: 550px;
    height: 400px;
    overflow-y: auto;
	padding: 40px;
}

.modal-gallery img {
    width: 90px;
    height: 130px;
    object-fit: cover;
    position: relative;
	margin-top: 20px;
}

.image-container {
    position: relative;
}

.fa-trash-can {
    position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
    background-color: black;
   color: white;
   padding:5px;
}

.separator {
    border-top: 1px solid #888;
}

.modal-content hr {
    width: 420px;
    align-items: center;
    justify-content: center;
}

#add-photo-button {
    display: block;
    margin: 0 auto;
    background-color: #1D6154;
    color: white;
    border: none;
    padding: 10px 70px;
    border-radius: 50px;
    cursor: pointer;
	margin-top: 30px;
	font-family: 'Syne';
    font-weight: 100;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
	padding-right: 10px;
}


/*------- Styles pour la nouvelle fenêtre modale ------------*/

.modal-header span {
    width: 22px;
    height: 22px;
    margin: 10px;
    font-size: xx-large;
}

.modal-header span i {
    font-size: large;
    cursor: pointer;
}

/*----Container input files-----*/


.modal-header h2 {
    font-weight: 500;
    font-size: 25px;
}

.add-photo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-upload-container {
    width: 420px;
    background-color:aliceblue; 
    padding-left: 10px;
    padding-right: 10px;
    margin: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

#photo-preview {
    display: block;
    max-width: 30%;
    max-height: 30%;
    margin: 0 auto;
}

.photo-upload-container .hidden {
    display: none;
}

.upload-placeholder i {
    display: flex;
    flex-direction: column;
    color: #B9C5CC;
    font-size: 76px;
    padding-top: 10px;
}

#upload-photo-button {
    display: flex;
    flex-direction: column;
    width: 173px;
    height: 36px;
    background-color:#CBD6DC;
    border-radius: 50px;
    border: none;
    align-items: center;
   margin-top: 10px;
   padding: 10px;
   text-align: center;
   color: #306685;   
   font-family: Work Sans;
   font-weight: 500;
}

.photo-upload-container p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-small;
    align-items: center;
}


/*---Détails de la photo----*/


.photo-details {
    display: flex;
    flex-direction: column;
}

#photo-title {
    width: 420px;
    height: 51px;
    box-shadow: 3px 3px 10px #dddddd;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 6px 12px;
}

#photo-category {
    width: 445px;
    height: 60px;
    box-shadow: 3px 3px 10px #dddddd;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    appearance: none;
    padding: 6px 12px;
}

.add-photo-form hr {
    width: 445px;
    margin: 30px;
}

#submit-photo-button {
    width: 236px;
    height: 36px;
    background-color:#A7A7A7;
    border-radius: 50px;
    color: white;
    border: none;
    font-weight: 700;
    font-family: Syne;
    font-size: 14px;
}